<%= form_for @service do |f| %>
  <div class="form-group">
    <label for="name" class="form-label">Nome</label>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    <%= @service.errors[:name]&.first %>
  </div>
  <div class="form-group">
    <label for="periodicity" class="form-label">Periodicidade</label>
    <%= f.select :periodicity, periodicity, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= link_to 'Cancelar', services_path, class: 'btn btn-danger' %>
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
