<div>
  <%= form_for @unity do |t| %>
    <div class="form-group">
      <label class="form-label" for="name">Nome</label>
      <%= t.text_field :name, autofocus: true, class: 'form-control' %>
      <span><%= @unity.errors[:name]&.first %></span>
    </div>
    <div class="form-group">
      <%= link_to 'Cancelar', unities_path, class: 'btn btn-danger' %>
      <%= t.submit 'Salvar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
