<div>
  <%= form_for @user do |t| %>
    <div class="form-group">
      <label class="form-label" for="client_id">Cliente</label>
      <%= select_tag :client_id, client_options, { class: 'form-control' } %>
      <span><%= @user.errors[:client]&.first %></span>
    </div>
    <div class="form-group">
      <label class="form-label" for="name">Nome</label>
      <%= t.text_field :name, autofocus: true, class: 'form-control' %>
      <span><%= @user.errors[:name]&.first %></span>
    </div>
    <div class="form-group">
      <label class="form-label" for="email">Email</label>
      <%= t.email_field :email, class: 'form-control' %>
      <span><%= @user.errors[:email]&.first %></span>
    </div>
    <% unless @user.id %>
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <%= t.password_field :password, class: 'form-control' %>
        <span><%= @user.errors[:password]&.first %></span>
      </div>
    <% end %>
    <%= link_to 'Cancelar', users_path, class: 'btn btn-danger' %>
    <%= t.submit 'Salvar', class: 'btn btn-primary'%>
  <% end %>
</div>
