<%= form_for @client do |f| %>
  <div class="form-group">
    <label for="name" class="form-label">Nome</label>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    <%= @client.errors[:name]&.first %>
  </div>
  <div class="form-group">
    <%= link_to 'Cancelar', clients_path, class: 'btn btn-danger' %>
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  </div>
<% end %>
