<% if loged? %>
  <h1>Ola <%= current_user.name %></h1>
<% end %>

<% if loged? %>
  <%= link_to 'Sair', '/logout', method: :delete %>
<% end %>

<% unless loged? %>
  <div class="login">
    <%= form_tag '/login' do %>
      <div>
        <label for="email">Usuário</label>
        <%= text_field_tag :email %>
      </div>
      <div>
        <label for="password">Senha</label>
        <%= password_field_tag :password %>
      </div>
      <div><%= flash[:error] %></div>
      <div><%= submit_tag 'Entrar' %></div>
    <% end %>
  </div>
<% end %>
