<!DOCTYPE html>
<html>
  <head>
    <title>LicenceHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'Services', services_path %>
      <%= link_to 'Usuários', users_path %>
      <%= link_to 'Unidades', unities_path %>
      <%= link_to 'Clientes', clients_path %>
      <%= link_to 'Sair', '/logout', method: :delete if current_user.logged?%>
      <%= link_to 'Entrar', '/' unless current_user.logged?%>
    </div>
    <%= yield %>
  </body>
</html>
